body {
  background-color: #70d9a9;
}

.container {
  margin: 0px auto;
  display: block;
  width: 960px;
  /*height: 960px;*/
  font-size: 0px;
  background-color: white;
}

.square {
  display: inline-block;
  border: 1px dotted grey;
}

#new_grid {
  height: 50px;
  width: 120px;
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  background-color: #bcd2ee;
  border-color: #6495ed;
  margin: auto;
}

#navbar {
  margin: 0 auto;
  width: 960px;
  text-align: center;
}
